.App {
  text-align: center;
}

.learning-app{
  margin-top: 5%;
}

#card-gallery{
  margin-top: 60px;
  display: flex;
  margin-left: 15%;
  margin-right: 15%;
  justify-content: space-around;
}

.flash-card > img{
  width: 230px;
  height: 230px;
  margin-bottom: -10px;
  border: 4px solid #DCDCDC;
}

.flash-card > img:hover{
  border: 5px solid #209cee;
  cursor: pointer;
}

.fa{
  font-size: 80px;
  margin-top: 10px;
  color: hsl(204, 86%, 53%);
}

.hero-container{
    background: linear-gradient( rgba(0, 0, 0, .05), rgba(0, 0, 0, 0.35) ), url('http://i.imgur.com/t7OQWpu.jpg');
    background-position:center top;
    margin-bottom: 50px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.hero-title{
  font-size: 48px;
  color: white;
}

.hero-sub{
  font-size: 25px;
  color: white;
}

.cards-section{
  margin-left: 15px;
  margin-right: 20px;
  padding-bottom: 100px;
}

.card{
  border-radius: 10px;
  border: 1px solid #f5f5f5;
}
.navbar-item{
  font-size: 18px;
}

.nav-link{
  color: white;
  margin-right: 14px;
}
.nav-brand{
  font-weight: 900;
  font-size: 18px;
}

#nav-register-link{
  margin-left: 20px;
}

.hero-buttons{
  display: flex;

}

#teachers-button{
  border: 1px solid black;
  margin-right: 20px;
}


#teachers-button:hover{
  background-color: #FFD700;
}

#students-button{
  border: 1px solid black;
  margin-left: 20px;
}

#students-button:hover{
  background-color: #32CD32;
}

.dashboard{
  margin: 50px 80px 20px 80px;
}

.category-button{
   margin: 10px 30px 20px 20px;
}

.level{
  background-color: #f0f0f0;
  width: 100%;
  height: 120px;
  position: fixed;
  bottom: 0;
}

.level-left{
  margin-left: 14%;
}

.level-right{
  margin-right: 14%;
}
