.App {
  text-align: center;
}

#logout{
  color: white;
}

#logout:hover{
  color: black;
  cursor: pointer;
}

.learning-app{
  margin-top: 5%;
}

#register{
  margin: 20px 25% 0px 25%;
}


.form-container{
  background-color: grey;
}

#card-gallery{
  margin-top: 60px;
  display: flex;
  margin-left: 15%;
  margin-right: 15%;
  justify-content: space-around;
}

.flash-card > img{
  width: 230px;
  height: 230px;
  margin-bottom: -10px;
  border: 4px solid #DCDCDC;
}

.flash-card > img:hover{
  border: 5px solid #209cee;
  cursor: pointer;
}

.fa-special{
  font-size: 80px;
  margin-top: 10px;
  color: hsl(204, 86%, 53%);
}

.progress-bar{
  width: 75%;
  margin-left: 12%;
  align-items: center;
}

.hero-container{
    background: linear-gradient( rgba(0, 0, 0, .05), rgba(0, 0, 0, 0.35) ), url('http://i.imgur.com/t7OQWpu.jpg');
    background-position:center top;
    margin-bottom: 50px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.subtitle:not(:last-child){
  margin: 0px;
}

.special-sub{
  width: 200px;
}
.hero-title{
  font-size: 48px;
  color: white;
}

.hero-sub{
  font-size: 25px;
  color: white;
}

.cards-section{
  margin-left: 15px;
  margin-right: 20px;
  padding-bottom: 30px;
}

.card{
  border-radius: 10px;
  border: 1px solid #f5f5f5;
  height: 320px;
}
.navbar-item{
  font-size: 18px;
}

.nav-link{
  color: white;
  margin-right: 14px;
}
.nav-brand{
  font-weight: 900;
  font-size: 18px;
}

#nav-register-link{
  margin-left: 20px;
}

#hero-buttons{
  margin-top: 35px;
}
.hero-body{
  padding: 0px;
}

.hero.is-medium .hero-body {
  padding-top: 80px;
  padding-bottom: 70px;
}


#teachers-button{
  border: 1px solid black;
  margin-right: 20px;
}


#teachers-button:hover{
  background-color: #FFD700;
}

#students-button{
  border: 1px solid black;
  margin-left: 20px;
}

.categories{
  margin-top: 60px;
}

#login-box{
  margin-top: 30px;
}
#login-footer{
  margin-top: 20px;
}

.nav-link-login{
  font-size: 14px;
}

#login-hero{
  background-color: #F2F6FA;
}

.control{
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

#students-button:hover{
  background-color: #32CD32;
}

.educational-dashboard{
  margin-top: 30px;
}

.dashboard{
  margin: 50px 80px 20px 80px;
}

.category-button{
   margin: 40px 30px 20px 20px;
}

.level{
  background-color: #f0f0f0;
  width: 100%;
  height: 120px;
  position: fixed;
  bottom: 0;
}

.level-left{
  margin-left: 16%;
}

.level-right{
  margin-right: 16%;
}

.achievement{
  height: 100px;
  margin: 0px 10px 0px 10px;
  opacity: .9;
}

.achievement:hover{
  opacity: 1;
  height: 103px;
  cursor: pointer;
}

.cookie{
  margin-left: 14px;
  margin-top: 14px;
  height: 27px;
  width: auto;
}

.students-gallery{
  display: flex;
  margin-top: 15px;
  margin-left: 13%;
  margin-right: 10%;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.welcome{
  margin-top: 40px;
}

.student-card{
  height: 150px;
  width: 150px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 25px;
  margin-bottom: 5px;
  border: 2px solid black;
  background: url(https://linustechtips.com/main/applications/core/interface/imageproxy/imageproxy.php?img=https://bucketlist.org/static/images/generic-profile-pic.png&key=0292531d4b2262f2038e8f3bdde8351fe28fc281558e7c5713aca8f986525060);
}

.category-pick{
  margin-top: 53px;
}


.student-card:hover{
  border: 4px solid LightGreen;
  cursor: pointer;
}

#student-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 30%;
}

.student-page{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 30px;
}

.header-info{
  margin-top: 25px;
  text-align: left;
  width: 200px;
}

.special-sub{
  margin: 0px;
}

.special-title{
  margin: 0px;
}

.title:not(.is-spaced) + .subtitle{
  margin: 0px;
}

.title:not(:last-child){
  margin: 0px;
}

#graphs{
  display: flex;
  flex-direction: row;
  margin-top: 80px;
  justify-content: flex-start;
}

#areas-of-improvement{
  margin-left: 40px;
  text-align: left;
}



